/* common **********/

html,
body {
  height: 100%;
  background-color: rgb(192, 241, 241);
}

.content {
  max-width: 600px;
  height: 100%;
  margin: 0 auto;
  background-color: whitesmoke;
}
.bordert {
  max-width: 600px;
  margin: 0 auto;
  border-left: 1px solid rgb(29, 161, 242);
  border-right: 1px solid rgb(29, 161, 242);
}
.header {
  padding: 10px;
  border-bottom: 1px solid rgb(29, 161, 242);
  display: flex;
  align-items: center;
}
.header img{
  width: 55px;
  
}
.logo {
  height: 50px;
  margin-right: 20px;
}

.header a {
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(29, 161, 242);
  padding-left: 20px;
  
}
.post_form {
  padding: 10px;
  display: flex;
  border-bottom: 1px solid rgb(29, 161, 242);
}
.my-icon img{
  width: 60px;
  padding: 0px 10px;
}
.post_form input {
  width: 80%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}
.post_form textarea {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
}

#uploadfile {
  width: 45%;
  padding-top: 20px;
  border: hidden;
  overflow: hidden;
  background-color: none;
}
.Image {
  height: 350px;
}
#btn {
  width: 20%;
  background-color: rgb(29, 161, 242);
  color: white;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  padding: 9px;
  border: 1px solid rgb(29, 161, 242);
  cursor: pointer;
  /* padding-bottom: 11px; */
}
#btnn {
  width: 10%;
  background-color: rgb(145, 162, 173);
  color: white;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5%;
  border: 1px solid transparent;
  padding: 10px;
  border: 1px solid rgb(145, 162, 173);
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin-left: 65%;
}
#btnn:hover {
  background-color: rgb(44, 44, 46);
}
.tweet {
  display: inline;
  flex-wrap: wrap;
  justify-content: space-between;

  padding-top: 8px;
}
#btn:hover {
  background-color: blue;
}
/* .tweet {
  float: right;
  width: 30%;
} */

.posts ul {
  padding: 0;
}

.posts li {
  position: relative;
  display: flex;
  border-bottom: 1px solid rgb(29, 161, 242);
  padding: 20px 40px;
  list-style: none;
}

.posts li .menu_icon {
  width: 20px;
  position: absolute;
  right: 30px;
  top: 18px;
  cursor: pointer;
}

.posts li .menu {
  display: none;
  position: absolute;
  top: 40px;
  right: 15px;
  border: 1px solid rgb(29, 161, 242);
  background-color: #ccc;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 3px;
}

.posts li .menu a {
  text-decoration: none;
  color: black;
}
.menu a:hover {
  background-color: whitesmoke;
}

.posts li .logo {
  flex-basis: 15%;
}
.posts li .logo img {
  width: 60%;
}
.posts li .name_body {
  flex-basis: 85%;
}

.posts li .name_body .name {
  font-weight: bold;
  color: rgb(29, 161, 242);
  font-size: 20px;
}

.posts li .name_body .datetime {
  color: gray;
}

@media screen and (max-width: 500px) {
  .posts li .name_body .name {
    font-size: 20px;
  }
  .tweet {
    display: block;
    justify-content: center;
    padding-left: 10px;
  }
  .Image {
    height: 200px;
  }

  #btn {
    width: 20%;
    font-size: 12px;
    padding: 5px;
  }
  #btnn {
    width: 15%;
    font-size: 12px;
    /* border: hidden; */
    padding: 5px;
    margin-left: 100px;
  }
}
